h1,
h2,
h3,
h4,
h5,
p {
    color: #707070;
    font-family: "Montserrat", sans-serif;
}
a {
    font-family: "Montserrat", sans-serif;
}
button,
a {
    cursor: pointer;
}

.brand-title {
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}
#logo {
    height: 50px;
    padding-right: 0.5em;
}
.company-name {
    padding-right: 40px;
}
canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #428bca;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #428bca;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #428bca;
}
.login-container > div {
    background-color: #f9f9f9;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 1px 13px -2px rgba(107, 107, 107, 1);
}
.flex-container > div {
    background-color: #f9f9f9;
    width: 60%;
    border-top: 7px solid #149ef8;
    border-radius: 5px;
    box-shadow: 0px 1px 13px -2px rgba(107, 107, 107, 1);
}
.questionnaire-cards {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    z-index: 1;
}
.home-title-section {
    display: flex;
    justify-content: space-between;
}
.card {
    margin: 20px;
}
.flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.questionnaire-buttons {
    display: flex;
    justify-content: flex-start;
}
.edit-button {
    margin-right: 15px;
}
.responses-btn {
    margin-left: 15px;
}
.created-by {
    font-size: 14px;
}
.answer-btn {
    margin-right: 10px;
    float: left;
}
.delete-btn {
    margin-left: 10px;
    float: right;
}
.already-account {
    font-size: 14px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.account-title {
    font-family: "Montserrat", sans-serif;
}
.title-div {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.report-btn {
    text-align: right;
}
.create-button {
    float: right;
}
.questionnaire-title-field {
    border: none;
    color: #707070;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    width: 70%;
    background-color: #f9f9f9;
}
.questionnaire-title-field:focus {
    outline: none;
}
.questionnaire-description-field {
    border: none;
    color: #707070;
    background-color: #f9f9f9;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-top: 1em;
}
.questionnaire-description-field:focus {
    outline: none;
}
#question-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.delete-link {
    color: red;
}
.delete-link:hover {
    color: #9e0000;
}
.question-title-field {
    border: none;
    color: #707070;
    background-color: #f9f9f9;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}
.question-title-field:focus {
    outline: none;
}
.question-button {
    margin-top: 10px;
}
.option-field {
    border: none;
    color: #707070;
    font-family: "Montserrat", sans-serif;
    margin: 5px;
}
.option-field:focus {
    outline: none;
}
.submit-questionnaire-btn {
    float: right;
    margin-right: 20px;
}
.description-div {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.option-answer {
    margin: 10px;
}
.answer-text {
    color: #707070;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}
.profile-form {
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 1400px) {
    .flex-container > div {
        width: 65%;
    }
    .login-container > div {
        width: 45%;
    }
}

@media (max-width: 1350px) {
    .flex-container > div {
        width: 70%;
    }
    .login-container > div {
        width: 50%;
    }
}

@media (max-width: 1150px) {
    .flex-container > div {
        width: 75%;
    }
    .login-container > div {
        width: 55%;
    }
}

@media (max-width: 900px) {
    .flex-container > div {
        width: 85%;
    }
    .login-container > div {
        width: 65%;
    }
}

@media (max-width: 800px) {
    .flex-container > div {
        width: 85%;
    }
    .login-container > div {
        width: 65%;
    }
}

@media (max-width: 600px) {
    .flex-container > div {
        width: 90%;
    }
    .login-container > div {
        width: 75%;
    }
}
